nodered/data/flows.json
[
    {
        "id": "c7d334fee8fb5558",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89f7036a3f50d3d0",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e26136e309239b14",
        "type": "mongodb4-client",
        "name": "Device",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "iot-project",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "2e53176899ae8edd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "87643bedf961a15e",
        "type": "postgreSQLConfig",
        "name": "postgres",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "iot",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "e4be4f6bbb1eb5a4",
        "type": "mongodb4",
        "z": "c7d334fee8fb5558",
        "clientNode": "e26136e309239b14",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 830,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f439fbb1d2b81fbf",
        "type": "uuid",
        "z": "c7d334fee8fb5558",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "ID",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "dfb17d8e8f04cc43"
            ]
        ]
    },
    {
        "id": "8d2579c681899540",
        "type": "mqtt in",
        "z": "c7d334fee8fb5558",
        "name": "Device Info",
        "topic": "device/+/info",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89f7036a3f50d3d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "f439fbb1d2b81fbf"
            ]
        ]
    },
    {
        "id": "dfb17d8e8f04cc43",
        "type": "function",
        "z": "c7d334fee8fb5558",
        "name": "function 1",
        "func": "const deviceId = msg.payload.device_id;\nif (!deviceId) return null;\n\nmsg.collection = \"device\";\nmsg.operation = \"updateOne\";\n\nconst update = {\n    $set: {\n        device_id: deviceId,\n        ip: msg.payload.ip || null,\n        location: msg.payload.location || null,\n        update_at: new Date(),\n        status: {\n            last_info_ts: new Date(),\n        },\n        raw: JSON.stringify(msg.payload)\n    },\n    $setOnInsert: { created_at: new Date(), _id: msg.payload._id }\n}\n\nmsg.payload = [{ device_id: deviceId }, update, { upsert: true }];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "e4be4f6bbb1eb5a4"
            ]
        ]
    },
    {
        "id": "1be3cbb1827c2cf4",
        "type": "mqtt out",
        "z": "c7d334fee8fb5558",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e53176899ae8edd",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "f21bec7b2c928a73",
        "type": "mqtt out",
        "z": "c7d334fee8fb5558",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e53176899ae8edd",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "bd28b31b895db8ce",
        "type": "function",
        "z": "c7d334fee8fb5558",
        "name": "function 3",
        "func": "var objeto = {};\n\nobjeto.query = `INSERT INTO alerta (id, temperature) VALUES ($1, $2)`;\nobjeto.params = [\n    msg.payload._id,\n    msg.payload.valor\n]\n\nmsg = {};\nmsg = objeto;\n\nconst mqtt = {\n    topic: `device/${msg.payload_id}/cmd`,\n    payload: {\n        led: false\n    },\n    qos: 1,\n    retain: false\n}\nreturn [msg];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "1bf24b7b76281646"
            ]
        ]
    },
    {
        "id": "4aef17e1ad3c4a84",
        "type": "function",
        "z": "c7d334fee8fb5558",
        "name": "function 4",
        "func": "const id = msg.payload_id\n\nconst mqtt = {\n    topic: `device/${msg.payload.device_id}/alert`,\n    payload: {\n        led: true,\n        msg: msg.payload\n    },\n    qos: 1,\n    retain: false\n}\nreturn mqtt;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "f21bec7b2c928a73"
            ]
        ]
    },
    {
        "id": "b82fd3313f84ebed",
        "type": "function",
        "z": "c7d334fee8fb5558",
        "name": "function 5",
        "func": "const id = msg.payload_id\n\nconst mqtt = {\n    topic: `device/${msg.payload.device_id}/alert`,\n    payload: {\n        led: false,\n        msg: msg.payload\n    },\n    qos: 1,\n    retain: false\n}\nreturn mqtt;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "1be3cbb1827c2cf4"
            ]
        ]
    },
    {
        "id": "1bf24b7b76281646",
        "type": "postgresql",
        "z": "c7d334fee8fb5558",
        "name": "",
        "query": "SELECT * FROM ;",
        "postgreSQLConfig": "87643bedf961a15e",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "72c2e694ca6ca062",
        "type": "mqtt in",
        "z": "c7d334fee8fb5558",
        "name": "Device Status",
        "topic": "device/+/status/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89f7036a3f50d3d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "41da8274535f9da7"
            ]
        ]
    },
    {
        "id": "41da8274535f9da7",
        "type": "uuid",
        "z": "c7d334fee8fb5558",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "ID",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "bd28b31b895db8ce"
            ]
        ]
    },
    {
        "id": "bfdda171652b2f62",
        "type": "mqtt in",
        "z": "c7d334fee8fb5558",
        "name": "Device Status",
        "topic": "device/+/status/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89f7036a3f50d3d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "b85f8c9a133ad374"
            ]
        ]
    },
    {
        "id": "b85f8c9a133ad374",
        "type": "uuid",
        "z": "c7d334fee8fb5558",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "ID",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "48daeb998cbb2dce"
            ]
        ]
    },
    {
        "id": "48daeb998cbb2dce",
        "type": "switch",
        "z": "c7d334fee8fb5558",
        "name": "",
        "property": "payload.valor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "b82fd3313f84ebed",
                "dfb17d8e8f04cc43"
            ],
            [
                "4aef17e1ad3c4a84",
                "bd28b31b895db8ce"
            ]
        ]
    }
]